{% extends "base.html" %}
{% load crispy_forms_tags %}
	{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

	{% block content %}
    <br>
    <br>
    <form action="">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="search  by tags, links or title" name="q" value="{{ request.GET.q }}">
            <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Search">
            </span>
        </div>
    </form>
    <div class="row">
    <br><br>
        <a href="add" class="btn btn-default">Add Link</a>
        <div class="col-sm-8 col-sm-offset-3">
        {% for obj in instance %}
            <div class="row">
                <div class="col-sm-2">
                    <h4>{{ obj.title }}</h4>
                </div>
                <div class="col-sm-4">
                    <a href="http://{{ obj.link }}" target="_blank"><h4>{{ obj.link }}</h4></a>
                </div>
                {% for ob in obj.tags.all %}
                    <p>{{ob}}</p>
                {%endfor%}
            </div>
            <br>
            <hr>
        {% endfor %}
        </div>
    </div>
	{% endblock content %}